<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://yeahthattrolley.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>yeahthattrolley.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>yeahthattrolley</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$yeahthattrolley</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:i7z3ibgfa3.database.windows.net,1433;Initial Catalog=TrolleyTracker;User ID=trolleyTracker@i7z3ibgfa3;Password=AzureTrolley741!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TrolleyTracker.Models.ApplicationDbContext, TrolleyTracker" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TrolleyTrackerEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:i7z3ibgfa3.database.windows.net,1433;Initial Catalog=TrolleyTracker;User ID=trolleyTracker@i7z3ibgfa3;Password=AzureTrolley741!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TrolleyTracker.Models.TrolleyTrackerEntities, TrolleyTracker" MigrationConfiguration="TrolleyTracker.Migrations.Configuration, TrolleyTracker" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SqlServerRoleProvider" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:i7z3ibgfa3.database.windows.net,1433;Initial Catalog=TrolleyTracker;User ID=trolleyTracker@i7z3ibgfa3;Password=AzureTrolley741!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DefaultConnection.mdf;Initial Catalog=aspnet-WebApplication1-20150726083832;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlServerRoleProvider_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DefaultConnection.mdf;Initial Catalog=aspnet-WebApplication1-20150726083832;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:i7z3ibgfa3.database.windows.net,1433;Initial Catalog=TrolleyTracker;User ID=trolleyTracker@i7z3ibgfa3;Password=AzureTrolley741!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlServerRoleProvider-Web.config Connection String">
      <ParameterValue>Data Source=tcp:i7z3ibgfa3.database.windows.net,1433;Initial Catalog=TrolleyTracker;User ID=trolleyTracker@i7z3ibgfa3;Password=AzureTrolley741!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TrolleyTrackerEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TrolleyTrackerModel.csdl|res://*/Models.TrolleyTrackerModel.ssdl|res://*/Models.TrolleyTrackerModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:i7z3ibgfa3.database.windows.net,1433;Initial Catalog=TrolleyTracker;User ID=trolleyTracker@i7z3ibgfa3;Password=AzureTrolley741!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>