@{ 
    var logger = NLog.LogManager.GetCurrentClassLogger();
    var exception = Server.GetLastError();

    var errorPage = Request.Params["aspxerrorpath"];
    if (exception == null)
    {
        var message = "Unknown exception occurred - global error page on " + errorPage;
        logger.Info(message);
    }
    else
    {
        var message = String.Format("Unhandled Exception happened on {0}: {1}; with message: {2}", errorPage, exception.GetType(), exception.Message);
        logger.Error(exception, message);
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Error occurred! Sorry about that</title>
</head>
<body>
<h2>OOPS! An Error Occurred</h2>

Sorry about this.

<p> We have recorded this error.   If it continues, please notify us at <a href="mailto:yeahthattrolley@gmail.com">yeahthattrolley@gmail.com</a> </p>
</body>
</html>
