

@model TrolleyTracker.ViewModels.RouteScheduleViewModel

@using MvcSchedule;
@using MvcSchedule.Objects;

@{
    ViewBag.Title = "Route Schedules";
}

<h2>@ViewBag.Message</h2>
<p>
    @Html.ScheduleGeneralFor(Model.RouteSchedules,
                             m => m.StartTime,
                             m => m.EndTime,
                             m => m.Route.ShortName,
                             m => "Route",
                             Model.Options,
                             t => ((DateTime)t).ToString("hh:mm"))
                             <!-- //s => s.ToString(),
                             //d => d.ToString("dd/MM")) -->
</p>
@using (Html.BeginForm("RouteSchedules", "Index", FormMethod.Post))
{
    <p>
        @Html.EditorFor(vm => vm.RouteSchedules)
    </p>
}